{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ key }} </title>
    <link rel="stylesheet" href="{% static "style.css" %}" />
</head>
<body>
    <nav>
        <a href="http://127.0.0.1:8000/Home">Home</a>
        <a href="http://127.0.0.1:8000/Caracal"> Caracal</a>
        <a href="http://127.0.0.1:8000/Serval">Serval</a>
        <a href="http://127.0.0.1:8000/Cougar">Cougar</a>
        <a href="http://127.0.0.1:8000/Leopard">Leopard</a>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>